.mainBody{
	min-height: 500px;
}

.margin-top-10{
	margin-top: 10px;
}

.textPointer{
	cursor: pointer;
}

.thumbnail>img{
	
	width: 80%;
	height:80%;
}

.thumbnail{
	text-align: center;
	border: 0px;
}

.started{
	color: #FFA500;
	/*yellow*/
}

.completed{
	color: #00C864;
	/*green*/
}

.not-started{
	color: #1A1A1A;
	/*dark grey*/
}

.body-bottom{
	margin-bottom: 80px;
}